{{- $url := .Destination | safeURL -}}
{{- $alt := .Text -}}
{{- $caption := .Title -}}

{{- $width := "" -}}
{{- $originalAlt := "" -}}

{{- if or (in $alt "|") (strings.HasSuffix $alt "|") -}}
{{- $parts := split $alt "|" -}}
{{- if eq (len $parts) 2 -}}
{{- $originalAlt = index $parts 0 | safeHTML -}}
{{- $width = index $parts 1 -}}
{{- else if strings.HasSuffix $alt "|" -}}
{{- $originalAlt = index $parts 0 | safeHTML -}}
{{- else -}}
{{- $width = index $parts 1 -}}
{{- end -}}
{{- else -}}
{{- $originalAlt = $alt | safeHTML -}}
{{- end -}}

{{- /* 如果 $originalAlt 为空且 $caption 不为空，则将 $caption 赋值给 $originalAlt */ -}}
{{- if and (eq $originalAlt "") (ne $caption "") -}}
{{- $originalAlt = $caption | safeHTML -}}
{{- end -}}

<figure class="my-8">
    <img src="{{ $url }}" alt="{{ $originalAlt }}" {{ with $caption }}title="{{ . | safeHTML }}" {{ end }}
        class="mx-auto rounded-lg block" loading="lazy" {{ with $width }}width="{{ . }}" {{ end }} />
    {{ with $caption }}
    <figcaption class="mt-3 text-center text-sm text-muted-foreground/70">
        {{ . | markdownify }}
    </figcaption>
    {{ end }}
</figure>