{{- define "main" -}}
<div class="container max-w-[var(--herm-main-width)] mx-auto px-4 pt-24 pb-16">
    <header class="mb-12">
        <div class="flex items-center gap-4 mb-2">
            <a href="{{- if eq .Data.Singular "category" -}}/categories{{- else if eq .Data.Singular "tag" -}}/tags{{- else -}}/series{{- end -}}"
                class="text-sm text-muted-foreground/70 hover:text-foreground/90 transition-colors" aria-label="返回列表页面">
                <div class="i-carbon-arrow-left w-4 h-4" aria-hidden="true"></div>
            </a>
            <div class="space-y-1">
                <div class="flex items-center gap-2">
                    <h1 class="text-3xl font-medium">{{- .Title -}}</h1>
                </div>
                <p class="text-sm text-muted-foreground/70">
                    {{- if eq .Data.Singular "category" -}}
                    分类下的所有文章
                    {{- else if eq .Data.Singular "tag" -}}
                    标签下的所有文章
                    {{- else -}}
                    系列下的所有文章
                    {{- end -}}
                </p>
            </div>
        </div>
    </header>

    <div class="space-y-16">
        {{- range .Pages.GroupByDate "2006" -}}
        <section class="space-y-8" aria-labelledby="year-{{ .Key }}">
            <div class="flex items-center gap-4">
                <h2 id="year-{{ .Key }}" class="text-2xl font-medium tabular-nums">
                    <time>{{- .Key -}}</time>
                </h2>
                <div class="h-px flex-1 bg-gradient-to-r from-border to-transparent" aria-hidden="true"></div>
            </div>

            <ul class="grid sm:grid-cols-2 lg:grid-cols-3 gap-8">
                {{- range $index, $post := .Pages -}}
                {{ $delay := add 1.2 (mul $index 0.1) }}
                <li class="group relative rounded-2xl border border-border/40 
                        backdrop-blur transition-all duration-500 
                        hover:border-border/60 hover:shadow-lg hover:shadow-muted/5 
                        hover:translate-y-[-2px]
                        anim-fade-up opacity-0 delayed-animation"
                    style="--anim-delay: {{ $delay }}s;">
                    <article>
                        {{ partialCached "components/post-card.html" $post $post.RelPermalink }}
                    </article>
                </li>
                {{- end -}}
            </ul>
        </section>
        {{- end -}}
    </div>
</div>
{{- end -}}