<section id="recent-posts" class="relative py-24">
    {{/* TODO */}}
    <div class="container relative max-w-[var(--herm-main-width)] mx-auto flex flex-col gap-y-6">
        <h2 class="sr-only">Recent Posts</h2>

        <div grid="~ sm:cols-2 lg:cols-3" class="gap-6">
            {{- $posts := where .Site.RegularPages "Section" "posts" -}}
            {{- $featuredPosts := where $posts "Params.featured" true -}}
            {{- $recentPosts := $posts | first 6 -}}
            {{- $displayPosts := union $featuredPosts $recentPosts | first 6 -}}

            {{/* 这里把 article 放在外面是为了充分利用 partialCached */}}
            {{- range $index, $post := $displayPosts -}}
            {{- $delay := add 1.0 (mul $index 0.1) -}}
            <article border="~ border/40 hover:border/60" class="group relative rounded-2xl 
                    backdrop-blur transition-all duration-500 hover:shadow-lg hover:shadow-muted/5 
                    hover:translate-y-[-2px]
                    anim-fade-up opacity-0 delayed-animation" style="--anim-delay: {{- $delay -}}s;">
                {{- partialCached "components/post-card.html" $post $post.RelPermalink -}}
            </article>
            {{- end -}}
        </div>

        {{/* 「阅读更多」按钮 */}}
        <div class="flex justify-center lg:justify-end anim-fade-up opacity-0 delayed-animation"
            style="--anim-delay: 1.6s;">
            <a href="/posts" font="semibold" text="sm muted-foreground/80" bg="muted/50 hover:muted/70" shadow="md"
                p="x-6 y-3" class="inline-flex justify-center rounded-lg transition-all duration-300 gap-2">
                <span>{{- i18n "posts.readmore" -}}</span>
                <i class="i-carbon-arrow-right w-4 h-4"></i>
            </a>
        </div>
    </div>
</section>